In [3]:
import numpy as np
import pandas as pd
import random
import scipy.stats as stats

def trainee_generator(min_trainees,max_trainees):
    new_train_mean = (min_trainees + max_trainees)/2.0
    new_train_stdev = (new_train_mean - min_trainees)/3.0
    num_new_trainees = float(stats.truncnorm.rvs(
        (min_trainees-new_train_mean)/new_train_stdev,
        (max_trainees-new_train_mean)/new_train_stdev,
        loc=new_train_mean, scale=new_train_stdev, size=1))
    return round(num_new_trainees)

print('done')

done

In [46]:
trainee_df = pd.DataFrame(columns=["Assigned centre ID", "Course type", "Start month", "Stop month","Status"])
courses = ["Data", "DevOps", "C#", "Java", "Business"]
num_new_trainees = trainee_generator(20,30)
print(num_new_trainees)
for trainee in range(num_new_trainees):
    
    row_data = {"Course type": random.choice(courses), "Assigned centre ID": "None",
                        "Start month": 0, "Stop month": 0, "Status": "Waiting"}
    trainee_df = trainee_df.append(row_data, ignore_index=True)
print('A+++')
print(trainee_df.iloc[0:3,1])
print('B+++',trainee_df.iloc[0,:]['Course type'])
print('C+++',trainee_df.index[trainee_df['Course type'] == 'Java'].tolist())
print('D+++',trainee_df['Course type'].iloc[0])
for i, row in trainee_df.iterrows(): # i = index, row= all row info
    print(i,row['Course type'])
    if i in [5,7,14]:
        row['Course type'] = 'SomeOtherCourse'
trainee_df

27
A+++
0        C#
1    DevOps
2        C#
Name: Course type, dtype: object
B+++ C#
C+++ [9, 11, 13, 19, 20, 21, 24]
D+++ C#
0 C#
1 DevOps
2 C#
3 Business
4 DevOps
5 Business
6 C#
7 Data
8 Business
9 Java
10 DevOps
11 Java
12 Data
13 Java
14 DevOps
15 Data
16 Data
17 Data
18 Data
19 Java
20 Java
21 Java
22 Data
23 C#
24 Java
25 Data
26 DevOps

   Assigned centre ID      Course type Start month Stop month   Status
0                None               C#           0          0  Waiting
1                None           DevOps           0          0  Waiting
2                None               C#           0          0  Waiting
3                None         Business           0          0  Waiting
4                None           DevOps           0          0  Waiting
5                None  SomeOtherCourse           0          0  Waiting
6                None               C#           0          0  Waiting
7                None  SomeOtherCourse           0          0  Waiting
8                None         Business           0          0  Waiting
9                None             Java           0          0  Waiting
10               None           DevOps           0          0  Waiting
11               None             Java           0          0  Waiting
12               None             Data           0          0  Waiting
13               None             Java           0          0  Waiting
14               None  SomeOtherCourse           0          0  Waiting
15               None             Data           0          0  Waiting
16               None             Data           0          0  Waiting
17               None             Data           0          0  Waiting
18               None             Data           0          0  Waiting
19               None             Java           0          0  Waiting
20               None             Java           0          0  Waiting
21               None             Java           0          0  Waiting
22               None             Data           0          0  Waiting
23               None               C#           0          0  Waiting
24               None             Java           0          0  Waiting
25               None             Data           0          0  Waiting
26               None           DevOps           0          0  Waiting

In [4]:
lower = 20
upper = 30
mu = (lower+upper)/2.0
sigma = (mu-lower/3.0)
N = 100

samples = float(stats.truncnorm.rvs(
          (lower-mu)/sigma,(upper-mu)/sigma,loc=mu,scale=sigma,size=1))
print(samples,int(samples))
g = round(samples)
print(g,type(g),type(samples))

22.517621611593942 22
23 <class 'int'> <class 'float'>

In [8]:
centres_df = pd.DataFrame(columns=['Trainee count','low att month counter','course type','max centre capacity','centre status'])
print(len(centres_df.columns))
row_data = {}
for i in range(len(centres_df.columns)):
    row_data[centres_df.columns[i]] = 'a'
    print(centres_df.columns[i])
for j in range(3):
    centres_df = centres_df.append(row_data, ignore_index=True)
centres_df

5
Trainee count
low att month counter
course type
max centre capacity
centre status

,Trainee count,low att month counter,course type,max centre capacity,centre status
0,a,a,a,a,a
1,a,a,a,a,a
2,a,a,a,a,a

In [37]:
print(type(range(15,51)))
print(list(range(15,51)))
print(type(random.choice(range(15,51))))
courses = ["Data", "DevOps", "C#", "Java", "Business"]
print(courses)
print(random.choice(courses))
print(random.choice(range(15,51)))

<class 'range'>
[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
<class 'int'>
['Data', 'DevOps', 'C#', 'Java', 'Business']
Business
17

In [35]:
# clients data frame
client_orders_df = pd.DataFrame(columns=['Client ID','Month advert placed','Month advert removed','Course requested',
                                   'Spartans requested','Spartans obtained','Happy? (T/F)'])

# --- place following in month-iteration loop (ITERATOR = current_month) ---

courses = ["Data", "DevOps", "C#", "Java", "Business"]
# variables below apply for returning AND new clients
client_course = random.choice(courses)
spartans_needed_rand = random.choice(range(15,51))
new_order = {'Client ID': None, 'Month advert placed': current_month, 'Month advert removed': current_month+12,
              'Course requested': client_course,'Spartans requested': spartans_needed_rand, 'Spartans obtained': 0, 
              'Happy? (T/F)': True}
# conditional statement: append method only called when no previous clients are due, overwrite otherwise
# Currently needs a manual initialisation for the very first order

happy_client_index_list = client_orders_df.index[client_orders_df['Happy? (T/F)']].tolist()

# **APPROACH 1: COUNTER**
happy_clients_due = [] # = 0
for happy_index in happy_client_index_list:
    if happy_clients_due == 0:
        retrieval_row = client_orders_df.iloc[happy_index,:]
        if retrieval_row['Month advert removed'] == (current_month - 12):
            happy_clients_due += 1
            # bring client back with a new order
            new_order['Client ID'] = retrieval_row['Client ID']
            
if happy_clients_due == 0: # if no old clients due, accept from new client
    new_order['Client ID'] = max(client_orders_df['Client ID']) + 1
    
# **APPROACH 2: LIST APPENDING**
happy_clients_due = []
for happy_index in happy_client_index_list:
    retrieval_row = client_orders_df.iloc[happy_index,:]
    if retrieval_row['Month advert removed'] == (current_month - 12):
        happy_clients_due.append(retrieval_row['Client ID'])
if len(happy_clients_due) == 0: # if no old clients due, accept from new client
    new_order['Client ID'] = max(client_orders_df['Client ID']) + 1
else:
    new_order['Client ID'] =  happy_clients_due[0]
    if len(happy_clients_due) > 1:
        returning_clients_backlog = happy_clients_due[1:]

# END-OF-ORDER CODE
fulfilled_index_list = client_orders_df.index[client_df['Spartans requested'] == client_orders_df['Spartans obtained']].tolist()
time_up_index_list = client_orders_df.index[current_month == client_orders_df['Month advert removed']].tolist()
for index, i_row in client_orders_df.iterrows(): # i = index, row= all row info
    if (index in fulfilled_index_list) and (current_month <= i_row['Month advert removed']):
        i_row['Month advert removed'] = current_month
    elif index in time_up_index_list:
        i_row['Happy? (T/F)'] = False
# --- END of month-specific code ---

SyntaxError: invalid syntax (<ipython-input-35-00083ff32167>, line 11)